---
layout: layouts/base.njk 
permalink: /index.html
---

    <h1 class="home-h1">Riley Collins</h1>
    <h2 class="home-h2">Writer. Strategist. Aspiring archivist and library professional.</h2>
    <p class="work">
        <a href="https://greatlakesbydesign.com/2021/05/19/empathy-in-industry/">Empathy in industry |</a>
        <a href="https://greatlakesbydesign.com/2021/09/27/freshwater-future/">Freshwater future |</a> 
        <a href="https://greatlakesbydesign.com/2021/09/02/x-house/">X house |</a>
        <a href="https://greatlakesbydesign.com/2021/08/18/design-your-world/">Design your world |</a>
        <a href="https://greatlakesbydesign.com/2021/03/09/a-designed-life/">A designed life |</a>
        Visbeen Architects Inc. - BALA Award submissions 2020 & 2021 |
        <a href="https://transfigureprintco.com/">Transfigure Print Co - brand strategy and copy collaboration |</a>
        <a href="https://solacemaggr.com/2021/04/27/grand-rapids-ballet-takes-from-stage-to-cinema/">Grand Rapids Ballet takes from stage to cinema |</a>
        <a href="https://solacemaggr.com/2021/03/26/from-farm-to-plate-agape-organic-farms/">From farm to plate: Agape Organic Farms |</a>
        <a href="https://www.mashallah.us/">Mashallah US - product copy collaboration and SEO</a>
    </p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %} 