---
layout: layouts/base.njk 
permalink: /index.html
---

    <h1 class="home-h1">Riley Collins</h1>
    <h2 class="home-h2">Writer. Strategist. Aspiring archivist and library professional.</h2>
    <p class="work">
        <a href="https://greatlakesbydesign.com/2021/05/19/empathy-in-industry/">Empathy in industry |</a>
        <a href="https://greatlakesbydesign.com/2021/09/27/freshwater-future/">Freshwater future |</a> 
        <a href="https://greatlakesbydesign.com/2021/09/02/x-house/">X house |</a>
        <a href="https://greatlakesbydesign.com/2021/08/18/design-your-world/">Design your world |</a>
        <a href="https://greatlakesbydesign.com/2021/03/09/a-designed-life/">A designed life |</a>
        <a href="https://visbeen.com/?utm_source=google&utm_medium=organic&utm_campaign=gmb-grandrapids-mi">Visbeen Architects Inc. - BALA Award submissions 2020 & 2021 | </a>
        <a href="https://transfigureprintco.com/">Transfigure Print Co - brand strategy, copy collaboration |</a>
        <a href="https://www.mashallah.us/">Mashallah US - product copy collaboration and SEO</a>
        <a href="Top of the Line Sound, Over-the-Top Design for Wu-Tang’s Raekwon “The Chef”"> Top of the Line Sound: Over-the-Top Design for Wu Tang's Raekwon "The Chef"</a>
    </p>
