body {
    background-image: url(handmadepaper.png);    
    color:black;
    font-family: 'Inconsolata', monospace;
    }

/*Nav*/
@media screen and (min-width: 300px) {
    .topnav {
        width: 100%;
    }
}

.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #C4C0BE;
    opacity: 0.60;
    height: 50px;
    align-content: center;
    }
    
.topnav-ul {
    list-style-type: none;
    font-size: 18px;
    margin: 0;
    }

.topnav-home, .topnav-about, .topnav-experience, .topnav-contact {
    display: inline;
    align-content: center;
    padding: 8px;
    }

a {
    color: black;
    }

a:hover {
    color: #C72A00;
    }

a:link {
    text-decoration: none;
    }

/*home*/

.home-h1 {
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    font-size: 3em;
    color: #C72A00;
    }
    
.home-h2 {
    padding-left: 25%;
    padding-right: 25%;
    text-align: center;
    font-size: 1.5em;
    }
    
.work {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 15%;
    text-align: center;
    line-height: 2em;
    color: black;
    }

/*About*/
img {
    width: 70%;
    max-width: 100%;
    height: auto;
    padding-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
}

.about-title {
    color: #C72A00;
    padding-left: 15%;
}

.about {
    width: 70%;
    padding-top: 1%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 5%;
}

/*experience*/
body {
    width: 90%;
    max-width: 1000px;
    margin: 2em auto;
}

.container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-gap: 20px;
}

aside {
    border-right: 1px solid #999;
    background-color: #FCF5F2;
    padding-left: 20px;
    padding-right: 10px;
}

.experience-title {
    color: #C72A00;
    font-size: 2em;
}

article {
    grid-column: 2;
    grid-row: 2;
}

aside {
    grid-column: 1;
    grid-row: 2;
}

/*contact*/
@media screen and (max-width: 800px) {
.connect {
    padding-left: 5%;
    }
}

.connect {
    padding-left: 30%;
    padding-top: 5%;
    text-align: left;
    color: #C72A00;
}

@media screen and (max-width: 500px) {
    form {
        width: 78%;
    }
    input, label, textarea {
        width: 78%;
    }
}

form {
   margin: 50px auto;
   width: 450px;
   height: 500px;
   padding-top: 25px;
   padding-right: 60px;
   border: 1px solid black;
   background: #EFEDEC;
   opacity: .60;
   font-size: 20px;
}

input, label {
    display: flex;
    width: 300px;
    margin: 15px;
    align-items: center;
    border: none;
    font-weight: bold;
    list-style-type: none;
}

.name, .email, .message, .button {
    list-style-type: none;
}

textarea {
    display: flex;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 15px;
    text-decoration: none;
}

input:invalid {
    border: 1px red;
}

input:valid {
    border: 1px green;
}

button {
   font-size: 15px;
   font-weight: bold;
   margin-left: 15px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #C4C0BE;
    opacity: 0.60;
    padding: 10px;
}
