body {
    background-image: url(handmadepaper.png);    
    color:black;
    font-family: 'Inconsolata', monospace;
    }

/*Nav*/
.topnav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #C4C0BE;
    opacity: 0.60;
    height: 50px;
    align-content: center;
    }
    
.topnav-ul {
    list-style-type: none;
    font-size: 18px;
    margin: 0;
    }

.topnav-home, .topnav-about, .topnav-experience, .topnav-contact {
        display: inline;
        align-content: center;
        padding: 8px;
    }

a {
    color: black;
}

a:hover {
        color: #C72A00;
}

a:link {
    text-decoration: none;
    }

/*home*/
.home-h1 {
        padding-top: 10%;
        padding-left: 25%;
        padding-right: 25%;
        text-align: center;
        font-size: 3em;
        color: #C72A00;
        }
    
.home-h2 {
        padding-left: 25%;
        padding-right: 25%;
        text-align: center;
        font-size: 1.5em;
        }
    
.work {
        padding-left: 25%;
        padding-right: 25%;
        padding-bottom: 15%;
        text-align: center;
        line-height: 2em;
        color: black;
        }

/*About*/
img {
    width: 70%;
    padding-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
}

.about-title {
    color: #C72A00;
    padding-left: 15%;
}

.about {
    width: 70%;
    padding-top: 1%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 5%;
}

/*experience*/
.sidebar {
    float: left;
    width: 300px;
    height: 1137px;
    background-color: #FCF5F2;
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 40px;
    line-height: 20px;
}

.experience-h1 {
    color: #C72A00;
 }

 .education {
     width: 200px;
 }

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding-top:45px;
    padding-left: 65px;
}

.experience-tfpc {
    padding-bottom: 100px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #C4C0BE;
    opacity: 0.60;
    padding: 10px;
    }
