---
layout : layouts/posts.njk
title: Blog 
description: The Interlude
permalink: "/posts/{{post.url}}"
tag: post
pagination:
    data: collections.posts
    size: 1
    alias: post
---


<h1 class= "blog">{{post.title}}</h1>
<img src="{{post.feature_image}}" alt="{{feature_image_alt}}"/>
{{ post.html | safe }}






