    img {
        width: 70%;
        padding-top: 5%;
        padding-right: 15%;
        padding-left: 15%;
    }
    
    .about-title {
        padding-top: 3%;
        width: 70%;
        padding-right: 15%;
        padding-left: 15%;
        text-align: justify;
    }
    
    .about {
        width: 70%;
        padding-top: 10%;
        padding-right: 15%;
        padding-left: 15%;
        padding-bottom: 5%;
    }
    
    a:hover {
        color: gray;
    }
    
    .footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: #C4C0BE;
        opacity: 0.60;
        padding: 10px;
    }
    